In [18]:
import os
import pandas as pd
import shutil
os.chdir('/Users/BeckyMarcusMacbook/Thesis/manual_work/')
clean_text_dir = "/Users/BeckyMarcusMacbook/Thesis/TextCleaning/clean_text"
assert os.path.exists(clean_text_dir)

In [62]:
rows = []
for root,dirs,files in os.walk(clean_text_dir):
    for file in files:
        if file[0]==".":
            continue
        group = os.path.split(root)[1]
        path = os.path.join(root,file)
        text = open(path).read()
        id = file.rsplit("-",1)[0]
        if len(text)==0:
            continue
        lines = [l for l in text.strip().splitlines() if len(l)!=0]
        wordses = [len(l.split()) for l in lines]
        lengths = [len(l) for l in lines]
        lpw = [l/w for w,l in zip(wordses,lengths)]
        rows.extend([(group,file,id,w,l,lp) for w,l,lp in zip(wordses,lengths,lpw)])
len(rows)

60266

In [63]:
df = pd.DataFrame(rows,columns = ["Group",'path',"id","words","length",'lpw'])
df = df.copy()[df['length']!=0]

In [64]:
df

,Group,path,id,words,length,lpw
0,E5,Economics-1961-0-07.txt,Economics-1961-0,10,58,5.800000
1,E5,Economics-1961-0-07.txt,Economics-1961-0,13,67,5.153846
2,E5,Economics-1961-0-07.txt,Economics-1961-0,14,67,4.785714
3,E5,Economics-1961-0-07.txt,Economics-1961-0,13,69,5.307692
4,E5,Economics-1961-0-07.txt,Economics-1961-0,15,68,4.533333
...,...,...,...,...,...,...
60261,E7,Economics-2018-0-33.txt,Economics-2018-0,12,85,7.083333
60262,E7,Economics-2018-0-33.txt,Economics-2018-0,88,584,6.636364
60263,E7,Economics-2018-0-33.txt,Economics-2018-0,1,1,1.000000
60264,E7,Economics-2018-0-33.txt,Economics-2018-0,11,82,7.454545
60265,E7,Economics-2018-0-33.txt,Economics-2018-0,28,158,5.642857

In [66]:
lengths = df.groupby("id")['lpw'].describe(percentiles=[0.01,0.05,0.08,0.1,0.15,0.25,0.5,0.75])
lengths

,count,mean,std,min,1%,5%,8%,10%,15%,25%,50%,75%,max
id,,,,,,,,,,,,,
Economics-1888-0,641.0,5.969225,0.938908,1.000000,4.345455,4.700000,4.818182,4.900000,5.000000,5.300000,5.875000,6.500000,10.000000
Economics-1889-0,799.0,6.031422,1.010821,3.923077,4.299000,4.700000,4.815273,4.907273,5.063636,5.300000,5.875000,6.612500,12.000000
Economics-1891-0,782.0,5.867530,0.971686,3.909091,4.178939,4.545455,4.713091,4.800000,4.909091,5.200000,5.777778,6.375000,12.200000
Economics-1893-0,507.0,5.710771,0.848496,4.000000,4.357532,4.583333,4.696000,4.750000,4.900000,5.105556,5.555556,6.125000,11.000000
Economics-1894-0,704.0,5.711487,0.815675,4.000000,4.214286,4.583333,4.700000,4.750000,4.900000,5.100000,5.666667,6.129464,11.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Economics-2017-0,1229.0,6.178193,1.023405,2.000000,4.040000,4.938971,5.066667,5.176471,5.333333,5.562500,6.071429,6.666667,14.166667
Economics-2018-0,582.0,6.052228,1.525138,1.000000,2.000000,2.000000,4.000000,4.666667,5.216758,5.666667,6.248810,6.729115,20.800000
Economics-2019-0,995.0,4.269022,2.316704,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000,5.000000,5.900000,24.000000
Economics-2020-0,1439.0,6.502074,0.986959,3.250000,4.750000,5.235294,5.333333,5.437500,5.600000,5.866667,6.384615,6.961538,15.000000
Economics-2022-0,447.0,6.531574,0.987523,3.000000,4.783824,5.156250,5.333333,5.466667,5.642208,5.919872,6.461538,7.000000,13.000000

# Break

In [2]:
import os
import pandas as pd
import shutil

In [10]:
os.getcwd()

'/Users/BeckyMarcusMacbook/Thesis/manual_work'

In [13]:
clean_text_dir=os.readlink("./clean_text_alias",)

OSError: [Errno 22] Invalid argument: './clean_text_alias'

In [ ]:

for root,dirs,files in os.walk(clean_text_dir):
    for file in files:
        if file[0]==".":
            continue
        group = os.path.split(root)[1]
        path = os.path.join(root,file)
        text = open(path).read()
        id = file.rsplit("-",1)[0]
        if len(text)==0:
            continue
        lines = [l for l in text.strip().splitlines() if len(l)!=0]
        wordses = [len(l.split()) for l in lines]
        lengths = [len(l) for l in lines]
        lpw = [l/w for w,l in zip(wordses,lengths)]
        rows.extend([(group,file,id,w,l,lp) for w,l,lp in zip(wordses,lengths,lpw)])
len(rows)

/Users/BeckyMarcusMacbook/Thesis/TextCleaning/clean_text
/Users/BeckyMarcusMacbook/Thesis/TextCleaning/clean_text/E5
/Users/BeckyMarcusMacbook/Thesis/TextCleaning/clean_text/E2
/Users/BeckyMarcusMacbook/Thesis/TextCleaning/clean_text/E3
/Users/BeckyMarcusMacbook/Thesis/TextCleaning/clean_text/E4
/Users/BeckyMarcusMacbook/Thesis/TextCleaning/clean_text/E1
/Users/BeckyMarcusMacbook/Thesis/TextCleaning/clean_text/E6
/Users/BeckyMarcusMacbook/Thesis/TextCleaning/clean_text/E7

111802

In [22]:
df = pd.DataFrame(rows,columns = ["Group",'path',"id","words","length",'lpw'])
df = df.copy()[df['length']!=0]
df

,Group,path,id,words,length,lpw
0,E5,Economics-1961-0-07.txt,Economics-1961-0,10,58,5.800000
1,E5,Economics-1961-0-07.txt,Economics-1961-0,13,67,5.153846
2,E5,Economics-1961-0-07.txt,Economics-1961-0,14,67,4.785714
3,E5,Economics-1961-0-07.txt,Economics-1961-0,13,69,5.307692
4,E5,Economics-1961-0-07.txt,Economics-1961-0,15,68,4.533333
...,...,...,...,...,...,...
111797,E7,Economics-2018-0-33.txt,Economics-2018-0,12,85,7.083333
111798,E7,Economics-2018-0-33.txt,Economics-2018-0,88,584,6.636364
111799,E7,Economics-2018-0-33.txt,Economics-2018-0,1,1,1.000000
111800,E7,Economics-2018-0-33.txt,Economics-2018-0,11,82,7.454545
111801,E7,Economics-2018-0-33.txt,Economics-2018-0,28,158,5.642857

In [38]:
grouped = df.groupby(['Group','id'])['length'].describe().reset_index()
grouped

,Group,id,count,mean,std,min,25%,50%,75%,max
0,E1,Economics-1888-0,641.0,49.268331,7.931725,1.0,48.0,51.0,53.0,62.0
1,E1,Economics-1889-0,799.0,48.715895,7.646850,6.0,47.0,50.0,53.0,64.0
2,E2,Economics-1891-0,785.0,48.847134,7.315909,6.0,47.0,50.0,52.0,62.0
3,E2,Economics-1893-0,507.0,54.708087,6.442938,6.0,53.0,55.0,58.0,69.0
4,E2,Economics-1894-0,705.0,55.259574,10.456450,4.0,53.0,56.0,58.0,278.0
...,...,...,...,...,...,...,...,...,...,...
121,E7,Economics-2017-0,1229.0,74.780309,16.834282,2.0,76.0,80.0,83.0,116.0
122,E7,Economics-2018-0,582.0,163.991409,198.250372,1.0,70.0,81.0,177.5,1617.0
123,E7,Economics-2019-0,995.0,67.231156,113.987939,1.0,2.0,40.0,82.0,1223.0
124,E7,Economics-2020-0,1439.0,78.507297,13.028365,6.0,78.0,81.0,84.0,111.0
125,E7,Economics-2022-0,447.0,74.653244,16.592400,5.0,76.0,79.0,83.0,92.0

In [47]:
import plotly.express as px
grouped['num'] = grouped['25%']
thresh =40
df['below_thresh'] = df['length']<40
df.groupby(['id','below_thresh'])['words'].count().reset_index()

                   id  below_thresh  words
0    Economics-1888-0         False    602
1    Economics-1888-0          True     39
2    Economics-1889-0         False    751
3    Economics-1889-0          True     48
4    Economics-1891-0         False    746
..                ...           ...    ...
247  Economics-2019-0          True    497
248  Economics-2020-0         False   1384
249  Economics-2020-0          True     55
250  Economics-2022-0         False    414
251  Economics-2022-0          True     33

[252 rows x 3 columns]

In [42]:
len('than has been assigned it')
len("importance should receive more consideration")

44

In [5]:
os.listdir(clean_text_dir)

NotADirectoryError: [Errno 20] Not a directory: 'clean_text_alias'

In [69]:
import re
dir = "clean_para_split40"
for root,dirs,files in os.walk(clean_text_dir):
    for file in files:
        if file[0]==".":
            continue
        group = os.path.split(root)[1]
        path = os.path.join(root,file)
        text = open(path).read()
        id = file.rsplit("-",1)[0]
        lines = text.strip().splitlines()
        edited = "\n".join([l+"\n" if len(l)<(40 if group!='E6' else 30) else l for l in lines])
        dest = os.path.join(dir,group,file)
        os.makedirs(os.path.dirname(dest),exist_ok=True)
        with open(dest,'w') as f:
            f.write(edited)

In [ ]:
dir = "paragraph_split"
clean_text_dir="Users/BeckyMarcusMacbook/Thesis/TextCleaning/clean_text"
for root,dirs,files in os.walk(clean_text_dir):
    for file in files:
        if file[0]==".":
            continue
        group = os.path.split(root)[1]
        path = os.path.join(root,file)
        text = open(path).read()
        id = file.rsplit("-",1)[0]
        lines = text.strip().splitlines()
        edited = "\n".join([l+"\n" if len(l)<(20 if group!='E6' else 35) else l for l in lines])
        dest = os.path.join(dir,group,file)
        os.makedirs(os.path.dirname(dest),exist_ok=True)
        with open(dest,'w') as f:
            f.write(edited)

In [13]:
len('the inside temperature of a house')

33

In [12]:
len("culture which tolerates them, that is,")

38

In [64]:
split_dirs = "/Users/BeckyMarcusMacbook/Thesis/manual_work/clean_para_split40/"
rows=[]
last_id=None
for root,dirs,files in os.walk(split_dirs):
    for file in files:
        if file[0]==".":
            continue
        group = os.path.split(root)[1]
        path = os.path.join(root,file)
        id = file.rsplit("-",1)[0]
        rows.extend([(group,id,file)])

pages = pd.DataFrame(rows).sort_values([0,1,2])
pages[3] = pages.groupby([0])[1].transform('nunique')
pages [4] = pages.groupby([1])[2].transform('nunique')
pages.to_clipboard()

In [10]:
### Special case for E6
import os
source="/Users/BeckyMarcusMacbook/Thesis/TextCleaning/clean_text/E6"
split_dirs = "/Users/BeckyMarcusMacbook/Thesis/manual_work/clean_para_split40/"

for file in sorted(os.listdir(source)):
    if file[0]==".":
        continue
    path = os.path.join(source,file)
    year = file.split("-",2)[1]
    group = "E6.1" if int(year)<=1990 else "E6.2"
    text = open(path).read()
    id = file.rsplit("-",1)[0]
    lines = text.strip().splitlines()
    edited = "\n".join([l+"\n" if len(l)<25 else l for l in lines])
    dest = os.path.join(split_dirs,group,file)
    os.makedirs(os.path.dirname(dest),exist_ok=True)
    with open(dest,'w') as f:
        f.write(edited)

In [7]:
file.split('-')

['Economics', '1969', '0', '01.txt']